.mck4__brand{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.mck4__brand div {
    flex: 1;
    max-width: 135px;
    min-width: 115px;
    margin: 0.8rem;

    display: flex;
    justify-content: center;
    align-items: center;
}