.LoginPage {
    background:-moz-radial-gradient(circle at 50% 50%, rgba(44, 16, 160, 1) 0%, rgba(197, 79, 79, 1) 100%);

     /* safari 5.1+,chrome 10+ */
     background:-webkit-radial-gradient(circle at 50% 50%, rgba(44, 16, 160, 1) 0%, rgba(197, 79, 79, 1) 100%);
 
     /* opera 11.10+ */
     background:-o-radial-gradient(circle at 50% 50%, rgba(44, 16, 160, 1) 0%, rgba(197, 79, 79, 1) 100%);
 
     /* ie 10+ */
     background:-ms-radial-gradient(circle at 50% 50%, rgba(44, 16, 160, 1) 0%, rgba(197, 79, 79, 1) 100%);
 
     /* global 92%+ browsers support */
     background:radial-gradient(circle at 50% 50%, rgba(44, 16, 160, 1) 0%, rgba(197, 79, 79, 1) 100%);

    min-height: 100%;
    min-height: 100vh;
    display: flex;
    background-size: cover;
     align-items: center;
    justify-items: center;
    justify-content: center; 
    border: black
}
.SignUpPage {
    background:-moz-radial-gradient(circle at 50% 50%, rgba(44, 16, 160, 1) 0%, rgba(197, 79, 79, 1) 100%);

     /* safari 5.1+,chrome 10+ */
     background:-webkit-radial-gradient(circle at 50% 50%, rgba(44, 16, 160, 1) 0%, rgba(197, 79, 79, 1) 100%);
 
     /* opera 11.10+ */
     background:-o-radial-gradient(circle at 50% 50%, rgba(44, 16, 160, 1) 0%, rgba(197, 79, 79, 1) 100%);
 
     /* ie 10+ */
     background:-ms-radial-gradient(circle at 50% 50%, rgba(44, 16, 160, 1) 0%, rgba(197, 79, 79, 1) 100%);
 
     /* global 92%+ browsers support */
     background:radial-gradient(circle at 50% 50%, rgba(44, 16, 160, 1) 0%, rgba(197, 79, 79, 1) 100%);

    min-height: 100%;
    min-height: 100vh;
    display: flex;
    background-size: cover;
     align-items: center;
    justify-items: center;
    justify-content: center; 
    border: black
}
.LoginPage form{
    display: block;
    justify-content: center;
}
.Form{
    border: 2px solid black;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.navBar{
    background:-moz-radial-gradient(circle at 50% 50%, rgba(44, 16, 160, 1) 0%, rgba(197, 79, 79, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 50% 50%, rgba(44, 16, 160, 1) 0%, rgba(197, 79, 79, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 50% 50%, rgba(44, 16, 160, 1) 0%, rgba(197, 79, 79, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 50% 50%, rgba(44, 16, 160, 1) 0%, rgba(197, 79, 79, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 50% 50%, rgba(44, 16, 160, 1) 0%, rgba(197, 79, 79, 1) 100%);
}