.mck4__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;
}

.mck4__navbar-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.mck4__navbar-links_logo{
    margin-right: 200 rems;
}

.mck4_navbar-links_logo img {
    width: 10px;
    height: 20px;
}

.mck4__navbar-links_container {
    display: flex;
    flex-direction: row;

}

.mck4__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.mck4__navbar-links_container p,
.mck4__navbar-sign p,
.mck4__navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;

    margin: 0 1rem;
    cursor: pointer;

}
.mck4__navbar-menu_container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    top: 60px;
    right: 0;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0 0 5 rgba(0,0,0,2);
}

.mck4__navbar-sign button,
.mck4__navbar-menu_container button{
    padding: 0.5rem 1rem;
    color: #fff;
    background:#533e97;
    font-family: var(--font-family);
    line-height: 25px;
    border-radius: 5px;
    font-weight: 500;
    border: 0;
    outline: none;
    cursor: pointer;
}
.mck4__navbar-menu_container-links-sign{
    display: none;
}